
 @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap'); 

*{

    margin: 0;
    padding: 0;

    box-sizing: border-box;

    
}

body{

    font-family: 'Oswald', sans-serif ;
}

.outerpage{

   
      height: 100vh;

      width: 100vw;

    background: linear-gradient( to top left , #3ed8ff , #bbe79d);
}

.innerpage{
        
    width: 400px;

    margin: 0 auto;

    position: relative;

    top: 40%;

    transform: translateY(-50%);

    padding: 20px 40px ;

    background-color: white;

    border: white;

    border-radius: 4%;

    box-shadow: 2px 2px 5px #021b03;

}

.signup-header h1{

    font-size: 2.5rem;

    margin-bottom: 4%;

    color: #1d2815;
}

.signup-header p {

    font-size: 1rem;

    margin-bottom: 8%;

    color: rgb(13, 62, 101);

}

.signup-body {

    margin: 10px 0;
}

.signup-body p {

    margin: 10px 0;
}

.signup-body p label{

    display: block;

    margin: 10px 0;
}

.signup-body p input
{

   width: 100%;

   padding: 8px;

   border: 1.5px solid black;

   border-radius: 4px;
}

.signup-body p input[type="submit"]{

    margin-top: 10%;

    font-size: 17px;

    color: white;

    background-color: #0c8492;
}

.signup-footer{

   margin-top: 5%;

   text-align: center;

   font-size: 95%;

}







